body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    overflow-x: hidden;
}
.nav-bar{
   width: 100%;
   height: 70px;
   position: fixed;
   top: 0;
   background-color: #fff;
   overflow: hidden;
   z-index: 1;
   
}
.nav-bar div{
    float: left;
    
}
header .list-sec ul{
    list-style: none;
}
header .list-sec ul li{
    float: left;
    padding-right: 40px;
    padding-top: 10px;
    margin-bottom: 5px;
}
.list-sec{
    position:absolute;
    top:0;
    right: 0;
    margin-right: 200px;
  
}




.logo-sec{
    top: 0;
    margin-left: 150px;
    padding-top: 12px;
} 

.list-sec li a{
    text-decoration: none;
    color: rgb(44, 42, 42);
    font-size: 18px;
    transition: 0.5s;
    font-weight:bold;
    
}

.list-sec li a:hover{
    color: orangered;
    transition: 0.2s;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: rgba(0,0,0,0.9);
    float:right;
    line-height: 80px;
    margin-right: -170px;
}
#check{
    display: none;
}




/* Header section end */
/* Section part one start*/
.second-part{
    background-color:#b4b4b9;
    width: 100%;
    height: 850px;
}

.part{
   
    float: left;
    width:35%;
    height: 550px;
    margin-left: 120px;
    margin-top: 80px;
}

.text{
    width: 35%;
    padding: 30px;
    margin-top: 120px;
    margin-left: 120px;
}
.picture{

    margin-right: 100px;
    
}
.text>h3{

    padding-left: 20px;
    font-weight: normal;
    font-size: 20px;
}
.text>h1{
    padding-left: 20px;
    font-size: 50px;
    font-weight: bold;
}
.text>p{
    padding-left:20px ;
    font-size: 20px;
    font-weight: lighter;
}
.btn{
    width:140px;
    height: 45px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #65B9FC;
    border: none;
    border-radius: 5px;
}
.btn >a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
}
.text>button:hover{

    background-color: darkblue;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 15px;
}
.text> button a:hover{
 color:darkorange;
 
}

/* 
thirt part

*/

.thirt-part{
    height: 850px;
    width: 100%;

    background-color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-sec{
width: 90%;
margin-left: 220px;


    
}

.text-sec{
 max-width: 45%;
 margin-left: 180px;

}
.text-sec h3{
    font-weight: normal;

}
.text-sec h1{

    font-size: 30px;
}
.text-sec p{
    font-weight: normal;
    font-size: 20px;
}
.text-sec >button a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
   
}
.text-sec >button{
    height: 40px;
    width: 160px;
    background-color: #6CAEFD;
    border: none;
    outline: none;
    box-shadow: 5px 10px 15px #6CAEFD;

}
.text-sec >button:hover{
 border-radius: 5px;
 box-shadow: 5px 10px 15px orange;
 transition: all 0.5s ease-in-out 0.1s;
 outline: none;
 background-color: rgb(27, 3, 51);
}

/* service Section */
.services{
    width: 100%;
    height: 850px;
    background-color: #ffffff;
}
.head1{
max-width: auto;

    text-align: center;
    margin-bottom: 20px;
    line-height: normal;
   
}
.head1>h1{
    font-size: 40px;
}
.head1>p{
    font-size: 20px;
    font-weight: lighter;
}
.skill{
    max-width: 100%;
    height: 650px;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 80px;
    justify-content:space-around;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
}
.job{
  
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight:bolder ;
}
.job>a{
    height: 30px;
    margin-top: 120px;
    text-decoration: none;
    font-size: 30px;
}
.job>a:hover{

    color: #64BBFC;

}
.job>p{
    padding-bottom: 40px;
    font-size: 18px;
    font-weight:normal;
}
/* section number */
.number{

    width: 100%;
    height: 350px;
    padding-top: 20px;
    background-color: #6CAFFD;
    display: grid;
    grid-template: 100px/100px 100px 100px 100px;
    justify-content:space-around;
    text-align: center;
}

.pro{
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight:bolder ;
    margin-top: 90px;

}
.pro>h3{
    color: #fff;
    font-weight: bolder;
    font-size: 40px;
    line-height: 0px;
    
}
.pro>p{

    color: #fff;
    font-size: 20px;
}
/* Feature */
.feature{

    width: 100%;
    height: 1460px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
} 
.feature-text{
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 120px;
  
  
}
.feature-text h2{
    font-size: 40px;
    line-height: 10px;
    height: auto;
}
.feature-text p{
    font-size: 19px;
    padding-bottom: 20px;
    opacity: 0.6;
}

.main-feature{

    width: 75%;
    height: auto;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.feature-img h3{

font-size: 25px;

}
.feature-img p{

    font-size:20px ;
    font-weight: lighter;
}

.feature-img figure{
width: 340px;
height: 339px;
background:linear-gradient(40deg,#8490ff 40%,#62bdfc 100% );
overflow: hidden;

border-radius: 3%;

}
.feature-img figure:hover img{
    opacity: 0.3;
    transition: all 0.3 ease-in-out;
}
.plan{
 width: 100%;
 height: 720px;
 

}
.plan-text{
width: 100%;
height: auto;
text-align: center;
padding-bottom: 40px;
}
.plan-text>h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 0px;
}
.plan-text>p{
font-size: 18px;
opacity: 0.5;
font-weight: lighter;
}
.main-card{
     width: 75%;
     height: auto;
     display: flex;
     justify-content:space-around;
     margin: 0 auto;
}

.card{
    width: 285px;
    height: 525.4px;
    background-color:rgb(249,249,255);
    border: none;
    text-align: center;
    font-size: 20px;
}
.card>h1{

    padding: 10px;
}
.card p{
    font-weight: lighter;
    opacity: 0.6;
}
.main-card .card input{
    background-color: #3d5a75;
    width: 140px;
    height: 40px;
    border: none;
    font-size: 19px;
    color: #fff;
    border-radius: 2px;
    box-shadow: 5px 10px 15px 0px orange ;
}
.main-card .card:hover{
 background-color:#67B5FC ;
 color: #fff;
 transition: all 0.1s ease-in;
 transform: scale(1.04);
 border: 1px solid rgba(130,147,255,0.5);
 box-shadow: 0   8px 12px 0 rgba(0,0,0,0.5);
 border-radius: 2%;
cursor: pointer;

}
/* footer start */

.footer-start{
 width: 100%;
 height: 400px;
 position:absolute;
 background-color: #04091E;
 color: #fff;
 margin-top:200px ;
}
.main-footer{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 120px;
}
.footer-one{
    font-size: 15px;
}
.footer-one p{
    color: rgba(255,255,255,0.5);
    font-size: 18px;
}
.footer-one input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
}
.footer-one button{
    padding: 10px 15px 10px 10px;
}
.footer-one p a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(97, 97, 248);
}





@media (max-width:768px){
    header {
        width: 100%;
        height: 100px;
    }
    header .logo{
        margin-left:30px ;
        padding: 20px;
    }
    .checkbtn{
        display: block !important;
      }
      
      .list-sec ul {
              position: fixed;
              width: 100%;
              height: 100vh;
              left: -200%;
              top: 54px;
              transition: all 0.5s;
              background-color: #F9F9FF;
      }
      .list-sec ul li{
          line-height: 15px;
          clear: both;
          margin-top: 15px;
      }

      #check:checked ~ ul{
        left: 0%;
      } 
      .list-sec ul li a{
        font-size: 20px; 
        text-align: center;

}
      
}

@media (max-width:768px){

    
    .second-part{
       width: 100%;
       height: 1500px;
       display:block;
       
       

    }
   
   .picture{
    margin-left: 90px;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
   }
   

   .thirt-part{
      
     width: 100%;
     height: auto;
     display: block;
   }

   .thirt-part .img-sec{
       max-width: 100%;
       height: auto;
       margin-left: -10px;
       position: relative;
       top: 180px;
   } 
   .thirt-part .text-sec{
    position: relative;
    top: 150px;
    height: auto;
   
   }
   .thirt-part .text-sec h3{
       line-height: 0px;
   }

   .services{
       width: 100%;
       height: auto;
       display: block;
       margin: 0;
       position: relative;
       top: 180px;
       
   }
.services .skill{
     
    width: 100%;
    height:auto;
    display: block;
}
   .number{
       width: 100%;
       height: auto;
       display: block;
   }

   .plan{
       width: 100%;
       height: auto;
       position: relative;
       top: 1800px;
   }
   .main-card
   {
       width: 100%;
       height: auto;
       display: block;
       position: relative;
       margin-left: 170px;
   }


   .footer-start{

max-width: 100%;
height: auto;

   }
   .main-footer{
    max-width: 100%;
    height: auto;
    display: block;
   
   }
}










